@import "../../../../../assets/built-in/scss/imports/variables.scss";
@import "../../../../../assets/built-in/scss/imports/classes.scss";

.login {
  .form {
    max-width: 400px;
    text-align: center;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: column;
  }
}
