.content {
  width: 100%;
  max-width: 100%;
  //   min-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  margin: 0;
  padding: 0;

  .sub {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }
}
