@import "../../../../assets/public/scss/imports/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  >* {
    margin: 2.5rem;
  }

  .title {
    text-align: center;
    font-size: 7rem;

    @media (max-width:1700px) {
      font-size: 6.8rem;
    }

    @media (max-width:1480px) {
      font-size: 6.5rem;
    }

    @media (max-width:992px) {
      font-size: 5.5rem;
    }

    @media (max-width:768px) {
      font-size: 4.5rem;
    }

    @media (max-width:480px) {
      font-size: 3.5rem;
    }
  }

  .content {
    display: flex;
    align-items: center;

    >* {
      margin: 2.5rem;
    }

    @media (max-width:992px) {
      flex-direction: column-reverse;

      >* {
        margin: 2rem;
      }

    }

    .images-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 53rem;

      >* {
        margin: 1.5rem;
      }

      @media (max-width:1480px) {
        width: 30rem;
      }

      @media (max-width:1280px) {
        width: 35rem;
      }

      @media (max-width:992px) {
        width: 45rem;
      }

      @media (max-width:768px) {
        width: 40rem;
      }

      @media (max-width:400px) {
        width: 33rem;
      }

    }

    .grid {
      display: grid;
      grid-template-columns: 42rem 42rem;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem;

      >* {
        margin: 5rem 2.5rem;
      }

      @media (max-width:1480px) {
        grid-template-columns: 37rem 37rem;
      }

      @media (max-width:1280px) {
        grid-template-columns: 35rem 35rem;
      }

      @media (max-width:992px) {
        grid-template-columns: 33rem 33rem;
      }

      @media (max-width:768px) {
        display: flex;
        flex-direction: column;

        >* {
          margin: 2.5rem;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: space-between;
        text-align: left;

        >* {
          margin: 1.5rem;

          @media (max-width:1440px) {
            margin: 1rem;
          }

          @media (max-width:480px) {
            margin: .5rem;
          }
        }

        &.right {

          @media (max-width:768px) {
            align-items: flex-end;
            text-align: right;
          }
        }

        .title {
          font-size: 4rem;

          @media (max-width:1200px) {
            font-size: 3rem;
          }

          @media (max-width:992px) {
            font-size: 2.7rem;
          }

          @media (max-width:768px) {
            font-size: 2.4rem;
          }

          @media (max-width:480px) {
            font-size: 2.2rem;
          }
        }

        p {
          font-size: 2.5rem;

          @media (max-width:1200px) {
            font-size: 2.3rem;
          }

          @media (max-width:992px) {
            font-size: 2.2rem;
          }

          @media (max-width:768px) {
            max-width: 400px;
            font-size: 1.8rem;
          }

          @media (max-width:480px) {
            max-width: none;
            text-align: justify;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.plans {
  .container {

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      .title {
        font-size: 10rem;

        @media (max-width:1700px) {
          font-size: 9rem;
        }

        @media (max-width:1480px) {
          font-size: 8rem;
        }

        @media (max-width:992px) {
          font-size: 7rem;
        }

        @media (max-width:768px) {
          font-size: 6.5rem;
        }

        @media (max-width:480px) {
          font-size: 5rem;
        }
      }

      .slogan {
        font-size: 3rem;

        @media (max-width:1480px) {
          font-size: 2.5rem;
        }

        @media (max-width:992px) {
          font-size: 2rem;
        }

        @media (max-width:768px) {
          font-size: 1.8rem;
        }

        @media (max-width:480px) {
          font-size: 1.6rem;
        }
      }
    }

    .squares {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: 15rem;

      >* {
        margin: 1.5rem;

        @media (max-width:1280px) {
          margin: 6.5rem 1.5rem;
        }

        @media (max-width:992px) {
          margin: 5rem 1.5rem;
        }
      }

      @media (max-width:1280px) {
        // justify-content: start;
      }

      @media (max-width:1200px) {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 50% 50%;
      }

      @media (max-width:768px) {
        display: flex;
        flex-direction: column;
      }

      .square {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        height: 100%;
        min-width: 39rem;

        @media (max-width:1700px) {
          padding: 3rem;
          min-width: 35rem;
        }

        @media (max-width:1440px) {
          padding: 2rem;
          min-width: 30rem;
        }

        @media (max-width:1280px) {
          min-width: 27rem;
        }

        @media (max-width:1200px) {
          height: fit-content;
          min-width: none;
          padding: 2rem;
        }

        &.basic {
          transform: scale(0.95);
        }

        &.standard {
          transform: scale(0.97);
        }

        &.ultra {
          transform: scale(0.99);
        }

        &.premium {
          transform: scale(1.02);

          &:hover {
            transform: scale(1.03);
          }
        }


        &.basic,
        &.standard,
        &.ultra,
        &.premium {
          @media (max-width:1200px) {
            transform: none;

            &:hover {
              transform: scale(1.05);
            }
          }

          @media (max-width:768px) {
            &:hover {
              margin-bottom: 8rem;
            }
          }
        }

        &:hover {
          transform: scale(1);
          box-shadow: 1px 1px 20px 5px rgba(44, 44, 44, 0.63);
        }


        /* Tooltip text */
        .tooltiptext {
          position: relative;
          text-align: center;
          padding: .5em;
          border-radius: $rounded;
          word-wrap: none;
          word-break: none;
          width: 110%;

          background-color: $dark-color-public;

          font-size: 4rem;
          font-weight: $montserrat-bold;
          text-transform: capitalize;

          box-shadow: $shadow-md;

          margin-top: -150px;
          margin-bottom: 50px;

          color: #fff;

          @media (max-width:1600px) {
            font-size: 3.5rem;
          }

          @media (max-width:1480px) {
            margin-top: -130px;
            margin-bottom: 40px;
            font-size: 3rem;
          }

          @media (max-width:1280px) {
            margin-top: -130px;
            margin-bottom: 40px;
            width: 100%;
          }

          @media (max-width:992px) {
            margin-top: -100px;
            margin-bottom: 20px;
            font-size: 2.5rem;
          }

          @media (max-width:768px) {
            margin-top: -100px;
            margin-bottom: 30px;
            font-size: 2rem;
          }

          @media (max-width:480px) {
            margin-top: -90px;
            margin-bottom: 25px;
            font-size: 1.8rem;
          }

          &.premium {
            background-color: $primary-color-public;

            &::after {
              border-color: $primary-color-public transparent transparent transparent;
            }
          }

          /* Tooltip arrow */
          &::after {
            content: "";
            position: absolute;
            top: 98%;
            left: 50%;
            margin-left: -20px;

            border-width: 20px;
            border-style: solid;
            border-color: $dark-color-public transparent transparent transparent;

            @media (max-width:768px) {
              border-width: 15px;
            }

            @media (max-width:480px) {
              // border-width:20px;
            }
          }
        }

        .list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          .item {
            display: grid;
            grid-template-columns: 4rem auto;
            align-items: center;
            color: $dark-color-public;
            margin: 1rem;

            ion-icon[name="checkmark"],
            ion-icon[aria-label="checkmark"],
            ion-icon[ng-reflect-name="checkmark"] {
              color: $primary-color-public;
              margin-right: 1rem;
            }

            ion-icon[name="close"],
            ion-icon[aria-label="close"],
            ion-icon[ng-reflect-name="close"] {
              color: $dark-color-public;
              margin-right: 1rem;
            }

            span {
              font-size: 2.2rem;

              @media (max-width:1480px) {
                font-size: 1.6rem;
              }

              @media (max-width:768px) {
                font-size: 1.6rem;
              }

            }
          }
        }

        .btn-primary {
          margin-bottom: -130px;
          margin-top: 30px;

          @media (max-width:1440px) {
            margin-top: 40px;
            margin-bottom: -110px;
          }

          @media (max-width:1280px) {
            margin: 0;
          }

        }
      }
    }
  }
}
