a {
  cursor: pointer;
  text-decoration: none !important;
  color: $primary;

  :active,
  :focus,
  :hover {
    background-color: $gray;
  }
}

input[type="button"],
input[type="sumbit"],
button,
.button {
  @extend .input;
  background-color: $light-back;
  color: $black;
  box-shadow: none;
  cursor: pointer;
  margin: 0.5em !important;
  padding-left: 1em;
  padding-right: 1em;
  :hover,
  :active,
  :focus {
    background-color: $light-back-hover;
  }
}

.button-primary {
  @extend .button;
  background-color: $primary;
  color: white;
  :active,
  :focus {
    background-color: $primary-hover;
  }
}

.button-primary-lg {
  @extend .button;
  width: 100%;
  background-color: $primary;
  color: white;
}

.button-expandible {
  @extend .transition-cubic;

  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    border-radius: $rounded;
    padding: 0px 10px;
    background-color: rgba($color: $gray, $alpha: 0.1);
  }
}

.chip {
  @extend .transition-cubic;
  @extend .unselectable;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 5px;
  padding: 0px 20px;
  white-space: nowrap;
  width: fit-content;

  background-color: rgba($color: $gray, $alpha: 0.1);
  border-radius: 50px;
  font-weight: $krub-medium;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: rgba($color: $primary-light, $alpha: 1);
  }

  img {
    height: 15px;
    width: auto;
    // margin-left: 5px;
    margin-right: 5px;
  }
}
