//colors
$white: white;
$black: black;
$light-back: #eff1f8;
$light-back-hover: #f1f3fa;
$primary-light: #5ca0ff;
$primary: #207dfe;
$primary-hover: #166fec;
$gray: #9d9d9d;
$gray-hover: #8d8d8d;
$black-font:#3D3D3D;
//Colors for especific components
$input-back: #f3f3f3;
$input-back-hover: #f0f0f0;
.coky {

.bg-primary {
  background-color: $primary;
  color: $white;
}

.bg-primary-hover {
  @extend .bg-primary;
  :hover,
  :active,
  :focus {
    background-color: $primary-hover;
  }
}

.bg-light{
  background-color: $light-back;
}
.bg-gray{
  background-color: $gray;
}
.bg-transparent{
  background-color: transparent !important;
}
.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}
}