.coky {
  a {
    cursor: pointer;
    text-decoration: none !important;
    color: $primary;

    :active,
    :focus,
    :hover {
      background-color: $gray;
    }
  }
  .input-text {
    border-radius: $rounded;
    border: none;
    font-family: $paragraph-font;
    font-weight: $krub-medium;
    color: $black;
    box-shadow: none;
    background-color: $input-back;
    // width: 100%;
    height: 2.5rem;
    padding: 0rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }
  textarea {
    &.input-text {
      padding: 0.5rem 1rem;
      height: 4rem;
      min-width: 100%;
    }
  }
  .select {
    @extend .input-text;
  }
  .button {
    @extend .input-text;
    background-color: $light-back;
    color: $black;
    box-shadow: none;
    cursor: pointer;
    margin: 0.5rem !important;
    :hover,
    :active,
    :focus {
      background-color: $light-back-hover;
    }
  }
  .button-primary {
    @extend .button;
    background-color: $primary;
    color: white;
    :active,
    :focus {
      background-color: $primary-hover;
    }
  }

  .button-primary-lg {
    @extend .button;
    width: 100%;
    background-color: $primary;
    color: white;
  }

  .button-expandible {
    @extend .transition-cubic;

    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      border-radius: $rounded;
      padding: 0px 10px;
      background-color: rgba($color: $gray, $alpha: 0.1);
    }
  }

  .chip {
    @extend .transition-cubic;
    @extend .unselectable;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 5px;
    padding: 0px 20px;
    white-space: nowrap;
    width: fit-content;

    background-color: rgba($color: $gray, $alpha: 0.1);
    border-radius: 50px;
    font-weight: $krub-medium;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: white;
      background-color: rgba($color: $primary-light, $alpha: 1);
    }

    img {
      height: 15px;
      width: auto;
      // margin-left: 5px;
      margin-right: 5px;
    }
  }
  .field {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    label {
      font-weight: $krub-bold;
      color: #424242;
      margin-left: 0.7rem;
    }
    .input-text {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
  .fields-flow {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    .field {
      width: 100%;
      ::ng-deep .mat-input-underline {
        display: none;
      }      
    }
    &.buttons-end {
      justify-content: flex-end;
      button {
        max-width: fit-content !important;
      }
    }
  }
}
