.coky {
  hr {
  width: 1rem ;
  height: fit-content;
  padding-top: 1px;
  border: none;
  background-color: $gray;
  margin: 0rem 2rem ;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.slide {
  // margin: 0px 1rem ;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.card{
  background-color: white;
  border-radius: $rounded;
  padding: 1.5rem 1rem ;
  border:none;
  .card-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
}