.coky {
    img{
    @extend .transition-opacity;

    max-width: 100%;

    &.img-circle{
        object-fit: cover;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}
}