.coky {
  div.mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  div.mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
    color: black !important;
  }

  
  .cdk-focused,
  .cdk-mouse-focused {
    border: none;
    box-shadow: none;
    background: transparent;
    outline: none !important;
  }
  .mat-button,
  .mat-flat-button {
    font-family: $paragraph-font;
    font-weight: $krub-medium;
    height: 2.5rem !important;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem !important;
      line-height: normal !important;
      font-size: 1rem !important;
      background-color: transparent !important;
    }
  }

  .mat-icon-button {
    // width: fit-content;
    span {
      background-color: transparent !important;
    }
  }
  .mat-dialog-container {
    border-radius: $rounded !important;
  }
  .mat-button-toggle-group{
    border: none;
  }
  .mat-button-toggle{
    border: none !important;
    div,
    span {
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }
    &:hover,
    &:active,
    &:focus {
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
    &.mat-button-toggle-checked {
      background-color: rgba($color: #000000, $alpha: 0.05) !important;
    }
  }

  .mat-menu-content {
    width: fit-content;
    overflow: hidden;
    .mat-menu-itrem {
      margin: 0px;
      border-radius: 0px;
      display: flex !important;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
    }
  }
  .mat-flat-button {
    &.mat-primary {
      background-color: $primary;
      color: white;
    }
  }
}
