.coky {
    .transition-cubic{
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transition-opacity{
    -webkit-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
}
}