@import "colors.scss";
@import "fonts.scss";
//Fonts
$paragraph-font:"Krub";
$brand-font:"Roboto Slab";

//Some styles
$rounded:0.8em;
$shadow-sm:0px 2px 3px 0.08px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-md:0px 6px 6px 1.5px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-lg:0px 10px 20px 3px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-top:0px -10px 10px 5px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-bottom:0px 10px 10px 5px  rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-left:-10px 0px 10px 5px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-right:10px 0px 10px 5px rgba($color: #c7c7c7, $alpha: 0.5);
$shadow-dark:0px 10px 20px 3px rgba($color: #313131, $alpha: 0.5);

@import "generals.scss";
@import "transitions.scss";

