/* You can add global styles to this file, and also import other style files */


@import "imports/variables.scss";

.coky {
  box-sizing: border-box;
  outline: 0;
  font-family: $paragraph-font;
  font-style: normal;
  font-weight: $krub-regular;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $krub-semibold;
  }
}
@import "imports/images.scss";
@import "imports/scrollbar";
@import "imports/forms.scss";
@import "imports/material-angular.scss";
@import "components/admin-login.component.scss";

