/* You can add global styles to this file, and also import other style files */


@import "imports/variables.scss";
@import "imports/inputs.scss";
@import "imports/images.scss";
@import "imports/scrollbar";
@import "imports/buttons.scss";
@import "imports/material-angular.scss";

.coky {
  box-sizing: border-box;
  outline: 0;
  font-family: $paragraph-font;
  font-style: normal;
  font-weight: $krub-regular;
  font-size: 21px;
  //Media queries
  @media (max-width: 1640px) {
    font-size: 18px;
  }
  @media (max-width: 1440px) {
    font-size: 16px;
  }
  @media (max-width: 1200px) {
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 600px) {
  }
  @media (max-width: 480px) {
  }
  @media (max-width: 360px) {
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $krub-semibold;
  }
}

@import "components/panel-login.component.scss";

