@import "../../../../assets/public/scss/imports/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  text-align: center;



  .title {
    font-size: 15rem;

    @media (max-width:1700px) {
      font-size: 13rem;
    }

    @media (max-width:1480px) {
      font-size: 11rem;
    }

    @media (max-width:992px) {
      font-size: 9rem;
    }

    @media (max-width:768px) {
      font-size: 7rem;
    }

    @media (max-width:480px) {
      font-size: 6rem;
    }
  }

  .slogan {
    font-size: 4.2rem;

    @media (max-width:1700px) {
      font-size: 4rem;
    }

    @media (max-width:1480px) {
      font-size: 3.8rem;
    }

    @media (max-width:992px) {
      font-size: 3.5rem;
    }

    @media (max-width:768px) {
      font-size: 3.3rem;
    }

    @media (max-width:480px) {
      font-size: 3rem;
    }
  }

  button {
    font-size: 3rem;

    @media (max-width:768px) {
      font-size: 2.5rem;
    }

    @media (max-width:480px) {
      font-size: 2rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 26rem 26rem 26rem 26rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15rem;
    margin: 10rem 0;

    @media (max-width:1700px) {
      gap: 13rem;
    }

    @media (max-width:1400px) {
      grid-template-columns: 26rem 26rem 26rem;
      gap: 11rem;
    }

    @media (max-width:992px) {
      grid-template-columns: 26rem 26rem;
      gap: 9rem;
    }

    @media (max-width:768px) {
      grid-template-columns: 23rem 23rem;
      gap: 7rem;
    }

    @media (max-width:480px) {
      grid-template-columns: 20rem 20rem;
      gap: 5rem;
    }

    @media (max-width:400px) {
      grid-template-columns: 17rem 17rem;
      row-gap: 5rem;
      column-gap: 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      .images {
        transition: $transition-basic;
        position: relative;
        width: 25rem;
        height: 24rem;

        @media (max-width:768px) {
          width: 20rem;
          height: 19rem;
        }

        @media (max-width:480px) {
          width: 18rem;
          height: 17rem;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          &.service {
            width: 80%;
            height: 80%;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

      }

      span {
        font-size: 2.5rem;
      }
    }
  }
}
