<ng-container *ngIf="home">
    <div class="home">
        <div class="title">Our services</div>
        <div class="slogan">What we do for you today?</div>
        <div class="grid">
            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back1.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service1.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back2.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service2.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back3.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service3.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back4.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service4.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back5.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service5.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back6.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service6.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back7.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service7.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>

            <div class="item">
                <div class="images">
                    <img src="../../../../assets/public/images/services/categories/trazados/back8.svg" alt="back"
                        class="back">
                    <img src="../../../../assets/public/images/services/categories/service8.svg" alt="service-image"
                        class="service">
                </div>
                <span>General Cleaning</span>
            </div>
        </div>

        <button mat-flat-button class="btn-primary">See the services</button>

    </div>

</ng-container>