@import "../../../../assets/public/scss/imports/variables.scss";

.home,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  text-align: center;

  .title {
    font-size: 13rem;

    @media (max-width:1700px) {
      font-size: 11rem;
    }

    @media (max-width:1480px) {
      font-size: 10rem;
    }

    @media (max-width:992px) {
      font-size: 9rem;
    }

    @media (max-width:768px) {
      font-size: 7rem;
    }

    @media (max-width:480px) {
      font-size: 4rem;
    }
  }

  .slogan {
    font-size: 4.2rem;

    @media (max-width:1700px) {
      font-size: 4rem;
    }

    @media (max-width:1480px) {
      font-size: 3.8rem;
    }

    @media (max-width:992px) {
      font-size: 3.5rem;
    }

    @media (max-width:768px) {
      font-size: 3.3rem;
    }

    @media (max-width:480px) {
      font-size: 2.5rem;
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    // grid-template-columns: 26rem 26rem 26rem 26rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 15rem;
    column-gap: 15rem;
    -moz-column-gap: 15rem;
    margin: 10rem 0;

    @media (max-width:1700px) {
      row-gap: 9rem;
      column-gap: 9rem;
      -moz-column-gap: 9rem;
    }

    @media (max-width:1400px) {
      row-gap: 8rem;
      column-gap: 8rem;
      -moz-column-gap: 8rem;
    }

    @media (max-width:992px) {
      margin: 8rem 0;
      row-gap: 7rem;
      column-gap: 7rem;
      -moz-column-gap: 7rem;
    }

    @media (max-width:768px) {
      margin: 7rem 0;
      row-gap: 4rem;
      column-gap: 4rem;
      -moz-column-gap: 4rem;
    }

    @media (max-width:480px) {
      margin: 4rem 0;
      row-gap: 2.5rem;
      column-gap: 2;
      -moz-column-gap: 2;
    }

    @media (max-width:400px) {
      margin: 3rem 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 4rem;
      column-gap: 4rem;
      -moz-column-gap: 4rem;

      .images {
        transition: $transition-basic;
        position: relative;
        width: 25rem;
        height: 24rem;

        @media (max-width:1700px) {
          width: 22rem;
          height: 21rem;
        }

        @media (max-width:1440px) {
          width: 19rem;
          height: 18rem;
        }

        @media (max-width:1200px) {
          width: 17rem;
          height: 16rem;
        }

        @media (max-width:992px) {
          width: 15rem;
          height: 14rem;
        }

        @media (max-width:768px) {
          width: 13rem;
          height: 12rem;
        }

        @media (max-width:480px) {
          width: 12rem;
          height: 10rem;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          &.service {
            width: 80%;
            height: 80%;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

      }

      span {
        font-size: 2.5rem;

        @media (max-width:1440px) {
          font-size: 2rem;
        }

        @media (max-width:768px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.services {
  .container {
    row-gap: 5rem;
    column-gap: 5rem;
    -moz-column-gap: 5rem;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: white;

      .title {
        font-size: 10rem;

        @media (max-width:1700px) {
          font-size: 9rem;
        }

        @media (max-width:1480px) {
          font-size: 8rem;
        }

        @media (max-width:992px) {
          font-size: 7rem;
        }

        @media (max-width:768px) {
          font-size: 6.5rem;
        }

        @media (max-width:480px) {
          font-size: 5rem;
        }
      }

      .slogan {
        font-size: 3rem;

        @media (max-width:1480px) {
          font-size: 2.5rem;
        }

        @media (max-width:992px) {
          font-size: 2rem;
        }

        @media (max-width:768px) {
          font-size: 1.8rem;
        }

        @media (max-width:480px) {
          font-size: 1.6rem;
        }
      }

      .images-container {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        width: 100%;

        @media (max-width:992px) {
          // width: fit-content;
        }

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          row-gap: 5rem;
          column-gap: 5rem;
          -moz-column-gap: 5rem;

          .title {
            font-size: 3rem;

            @media (max-width:1480px) {
              font-size: 2.5rem;
            }

            @media (max-width:992px) {
              font-size: 2rem;
            }

            @media (max-width:768px) {
              font-size: 1.8rem;
            }

            @media (max-width:480px) {
              font-size: 1.6rem;
            }
          }

          img {
            height: 25rem;

            @media (max-width:1480px) {
              height: 20rem;
            }

            @media (max-width:1200px) {
              height: 18rem;
            }

            @media (max-width:768px) {
              height: 16rem;
            }

            @media (max-width:480px) {
              height: 10rem;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 3rem;

      .title {
        font-size: 7rem;

        @media (max-width:1700px) {
          font-size: 6rem;
        }

        @media (max-width:1480px) {
          font-size: 5rem;
        }

        @media (max-width:992px) {
          font-size: 4rem;
        }

        @media (max-width:768px) {
          font-size: 3.5rem;
        }

        @media (max-width:480px) {
          font-size: 3rem;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        row-gap: 5rem;
        column-gap: 5rem;
        -moz-column-gap: 5rem;
        margin-bottom: 0;

        @media (max-width:1440px) {
          row-gap: 3rem;
          column-gap: 3rem;
          -moz-column-gap: 3rem;
        }

        @media (max-width:768px) {
          display: flex;
        }

        .item {
          flex-direction: row;
          padding: 5rem;
          border-radius: $rounded;
          align-items: center;
          width: 100%;
          height: 100%;

          @media (max-width:1440px) {
            padding: 3rem;
          }

          @media (max-width:768px) {

            &.right {
              flex-direction: row-reverse;

              .images-content {
                align-items: flex-end;

                @media (max-width:400px) {
                  align-items: center;
                }
              }
            }
          }

          @media (max-width:768px) {
            row-gap: 10rem;
            column-gap: 10rem;
            -moz-column-gap: 10rem;
            align-items: center;
          }

          @media (max-width:480px) {
            row-gap: 5rem;
            column-gap: 5rem;
            -moz-column-gap: 5rem;
          }

          @media (max-width:400px) {
            row-gap: 1rem;
            column-gap: 1rem;
            -moz-column-gap: 1rem;
            flex-flow: wrap;
          }

          .images-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            row-gap: 3rem;
            column-gap: 3rem;
            -moz-column-gap: 3rem;
            width: 15rem;

            @media (max-width:1700px) {
              width: 15rem;
            }

            @media (max-width:1480px) {
              width: 11rem;
            }

            @media (max-width:992px) {
              width: 8rem;
            }

            @media (max-width:768px) {
              width: 8rem;
            }

            @media (max-width:480px) {
              width: 7rem;
            }

            @media (max-width:400px) {
              width: 100%;
              align-items: center;
            }

            .images {
              font-size: 15rem;
              height: 1em;
              width: 1em;

              @media (max-width:1700px) {
                font-size: 15rem;
              }

              @media (max-width:1480px) {
                font-size: 11rem;
              }

              @media (max-width:992px) {
                font-size: 8rem;
              }

              @media (max-width:768px) {
                font-size: 12rem;
              }

              @media (max-width:480px) {
                font-size: 11rem;
              }
            }

            span {
              font-weight: bold;
              color: $primary-color-public;

              white-space: nowrap;
              font-size: 3rem;

              @media (max-width:1700px) {
                font-size: 2.5rem;
              }

              @media (max-width:1480px) {
                font-size: 2rem;
              }

              @media (max-width:992px) {
                font-size: 1.8rem;
                white-space: nowrap;
              }

            }
          }

          p {
            color: $dark-color-public;
            font-size: 2.5rem;
            font-weight: $montserrat-medium;
            text-align: right;

            @media (max-width:1480px) {
              font-size: 1.8rem;
            }

            @media (max-width:992px) {
              font-size: 1.6rem;
            }

            @media (max-width:480px) {
              text-align: center;
            }
          }
        }
      }


    }

    .list {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 5rem;
      column-gap: 5rem;
      -moz-column-gap: 5rem;

      @media (max-width:1440px) {
        row-gap: 3rem;
        column-gap: 3rem;
        -moz-column-gap: 3rem;
      }

      @media (max-width:768px) {
        display: flex;
        flex-direction: column;
      }

      .item {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 3rem;

        text-align: center;
        color: $dark-color-public;
        font-weight: $montserrat-semibold;
        font-size: 3rem;


        @media (max-width:1700px) {
          font-size: 2.5rem;
        }

        @media (max-width:1480px) {
          padding: 2rem;
          font-size: 2rem;
        }

        @media (max-width:992px) {
          font-size: 1.8rem;
        }
      }
    }
  }

  .button-more {
    display: flex;
    justify-content: center;
    color: $gray-color-public;

    button {
      font-weight: $montserrat-semibold;
    }
  }

  .end {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    column-gap: 3rem;
    -moz-column-gap: 3rem;

    .title {
      text-align: center;
      font-size: 10rem;
      color: white;

      @media (max-width:1700px) {
        font-size: 9rem;
      }

      @media (max-width:1480px) {
        font-size: 8rem;
      }

      @media (max-width:992px) {
        font-size: 7rem;
      }

      @media (max-width:768px) {
        font-size: 6.5rem;
      }

      @media (max-width:480px) {
        font-size: 5rem;
      }
    }
  }
}
