@import "../../../../../assets/public/scss/imports/variables.scss";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
  margin-top: 5rem;

  background-color: black;
  color: white;
  gap: 1rem;



  .content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    gap: 1rem;

    @media (max-width:768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      >*div {
        width: 100%;
      }
    }

    p {
      font-size: 2.5rem;
    }

    span {
      font-size: 1.5rem;
    }

    .link {
      font-weight: $montserrat-medium;
      color: white;
      font-size: 2rem;

      &.underlined {
        text-decoration: underline;
      }

      &.brand {
        font-size: 4rem;
        font-weight: $montserrat-black;
        margin-right: 2rem;

      }
    }

    .divisor {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (max-width:768px) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .content-1,
  .content-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-flow: wrap;

    @media (max-width:768px) {
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      >*div {
        width: 100%;
      }
    }

  }

}
