<footer>
    <div class="content">
        <div class="content-1">
            <a class="link brand">MTS</a>
            <p>All rights reserved 2021</p>
            <div class="divisor">
                <a class="link underlined">Terms</a>
                <a class="link underlined">Polices</a>
            </div>
        </div>
        <div class="content-2">
            <a class="link underlined">Contact us</a>
            <a class="link">or</a>
            <a class="link underlined">Email me <ion-icon name="mail"></ion-icon></a>
        </div>
    </div>
    <div class="content">
        <span class="developed">Designed and developed by Victorguz and Ivanlnd.</span>
        <span class="developed">Powered by CokyCMS</span>
    </div>
</footer>