@import "../../../../../assets/public/scss/imports/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;

  background-color: black;
  color: white;
  width: 100vw;

  @media screen and (max-width:1440px) {
    padding: 2rem;
  }

  .content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;


    @media screen and (max-width:768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      >*div {
        width: 100%;
      }
    }

    p {
      font-size: 2.5rem;
    }

    span {
      font-size: 1.5rem;
    }

    .link {
      font-weight: $montserrat-medium;
      color: white;
      font-size: 2rem;

      &.underlined {
        text-decoration: underline;
      }

      &.brand {
        font-size: 4rem;
        font-weight: $montserrat-black;
        margin-right: 2rem;

      }
    }

    .divisor {
      display: flex;
      align-items: center;

      @media screen and (max-width:768px) {
        width: 100%;
        justify-content: center;
      }

      a {
        margin: 0.5rem;
      }

    }
  }

  .content-1,
  .content-2 {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 1rem;

    >* {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width:768px) {
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      >*div {
        width: 100%;
      }
    }

  }

}
