.coky {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: $back-color;
  margin: 0;
  padding: 0;

  input[type="text"],
  input[type="password"],
  input[type="email"] {

    padding: 8px 10px;
    border: $border;
    border-radius: $rounded;
    background-color: white;

    &:focus {
      // box-shadow: $shadow-xs-nocolor $primary-color;
      border: 1px solid $primary-color;
      // box-shadow: $shadow-xs;
    }
  }

  a {
    color: $primary-color;
  }

  button {
    padding: 8px 10px;
    border-radius: $rounded;
    // height: fit-content;
    line-height: 1rem;

    &:hover {
      box-shadow: $shadow-md;
    }

  }



}
