//Primary colors
$primary-color:#2D78FA;
$secondary-color:#865fb8;
$danger-color:#FA6F6F;
$dark-color:#343a40;
$gray-color:#83A1FB;
$alert-color:#FDC93F;
$success-color:#4cca79;

//Other colors
$border-color:#e9e9e9;
$shadow-color:rgba(174, 190, 205, .3);


//sizes
$rounded-sm:4px;
$rounded:8px;
$border:1px solid $border-color;


//effects
$shadow-xs:1px 1px 2px 0px $shadow-color;
$shadow-sm:3px 3px 4px 0px $shadow-color;
$shadow-md:3px 3px 8px 1px $shadow-color;

$shadow-xs-nocolor:0px 0px 0px 2px;
$shadow-sm-nocolor:3px 3px 4px 0px;
$shadow-md-nocolor:3px 3px 8px 1px;
