@import "../../../../assets/public/scss/imports/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding-top: 5rem;

    .slogan {
      text-align: center;
      font-size: 3.5rem;
      font-weight: $montserrat-bold;
      text-transform: uppercase;

      color: white;

      @media (max-width:1440px) {
        font-size: 2rem;
      }

      @media (max-width:992px) {
        font-size: 3rem;
      }

      @media (max-width:768px) {
        font-size: 2.5rem;
      }

      @media (max-width:480px) {
        font-size: 2rem;
      }
    }
  }
}
