@import "../../../../../assets/public/scss/imports/variables.scss";

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and  (max-width:480px) {
    position: relative;
    z-index: 1;
  }

  .text-content {
    color: white;

    .title {
      font-weight: $montserrat-bold;
      font-size: 9rem;
      margin-bottom: 2rem;

      @media screen and  (max-width:1700px) {
        font-size: 8rem;
      }

      @media screen and  (max-width:1480px) {
        font-size: 7rem;
      }

      @media screen and  (max-width:992px) {
        font-size: 6rem;
        margin-bottom: 1rem;
      }

      @media screen and  (max-width:768px) {
        font-size: 4.5rem;
      }

      @media screen and  (max-width:480px) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 3rem;
      margin-bottom: 2rem;

      @media screen and  (max-width:1440px) {
        font-size: 2.2rem;
      }

      @media screen and  (max-width:992px) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      @media screen and  (max-width:768px) {
        font-size: 1.8rem;
      }

      @media screen and  (max-width:480px) {
        font-size: 1.6rem;
      }
    }
  }

  .images-content {
    min-width: 86rem;

    @media screen and  (max-width:1700px) {
      min-width: 70rem;
    }

    @media screen and  (max-width:1480px) {
      min-width: 60rem;
    }

    @media screen and  (max-width:1240px) {
      min-width: 50rem;
      margin-right: -10rem;
    }

    @media screen and  (max-width:992px) {
      margin-right: -13rem;
    }

    @media screen and  (max-width:768px) {
      margin-right: -30rem;
    }

    @media screen and  (max-width:480px) {
      margin-right: 0;
      min-width: 35rem;

      position: absolute;
      z-index: 2;
      right: -58%;
    }

    img {
      width: 100%;
      height: 100%;

      @media screen and  (max-width:480px) {
        width: 80%;
        height: 80%;
      }
    }
  }
}
