<nav class="coky sidebar">

    <div class="content">

        <button mat-button [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">home</span>
            Inicio
        </button>
        <button mat-button [routerLink]="['/config']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">settings</span>
            Configuracion
        </button>
        <button mat-button [routerLink]="['/tables']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">table_chart</span>
            Modulos
        </button>
        <div class="list">
            
            <button mat-button>Tareas</button>
            <button mat-button>Posts</button>
            <button mat-button>Cursos</button>
            <button mat-button>Comentarios</button>
            <button mat-button>Mensajes</button>
        </div>
        <button mat-button [routerLink]="['/databases']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">dns</span>
            Bases de datos
        </button>
        <div class="list">
            <button mat-button>Tablas (Create, alter, drop)</button>
            <button mat-button>Constraints (Foreign keys, other constraints)</button>
            <button mat-button>Triggers</button>
        </div>
        <button mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">account_circle</span>
            Usuarios
        </button>
        <button mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-round icon">email</span>
            Correos electronicos
        </button>
    </div>

</nav>