@import "../../../../assets/scss/panel/imports/variables.scss";

.sidebar {
  z-index: 9;
  left: 0px;
  height: 100%;
    .content {
      display: flex;
      background-color: white;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      min-width: 100px;
      max-width: 300px;
      padding: 1.5rem 0px;
      box-shadow: $shadow-lg;
      .mat-button {
        width: 100%;
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 24px;
        // background-color: transparent;
        &.active {
          color: $primary;
        }

        .icon{
          font-size: 1.5em !important;
          margin-right: 1rem;
        }
    }
    .list{
      margin-left: 2rem;

    }
  }
}
