$paragraph-font: "Krub";
$brand-font: "Roboto Slab";

//Some styles
$rounded: 0.8em;
$shadow-sm: 0px 2px 3px 0.08px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-md: 0px 6px 6px 1.5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-lg: 0px 10px 30px 3px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-top: 0px -10px 10px 5px rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-bottom: 0px 10px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-left: -10px 0px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-right: 10px 0px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-lg-dark: 0px 10px 30px 3px
  rgba(
    $color: #313131,
    $alpha: 0.5,
  );
$white: white;
$black: black;
$light-back: #eff1f8;
$light-back-hover: #f1f3fa;
$primary-light: #5ca0ff;
$primary: #207dfe;
$primary-hover: #166fec;
$gray: #9d9d9d;
$gray-hover: #8d8d8d;
$black-font: #3d3d3d;
//Colors for especific components
$input-back: #f3f3f3;
$input-back-hover: #f0f0f0;

.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: $shadow-lg;
  min-width: 100vw;
  background-color: white;
  @media (max-width: 600px) {
    padding: 0.7em 0.5;
  }
  .content {
    display: flex;
    align-items: center;
    &.content-1 {
      .mat-button {
        display: flex;
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
    &.content-2 {
      a {
        margin-left: 1rem;
        img {
          height: 2.5rem;
        }
      }
    }
    .mat-icon-button {
      width: 2.4em;
      height: 2.4em;
      margin: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 1.7em;
        //Media queries
      }
    }
    .mat-button {
      border-radius: $rounded + $rounded;
      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }
      div {
        background-color: transparent;
        text-align: left;
        p {
          background-color: transparent;
          &.role {
            font-size: 0.8em;
            color: $gray;
          }
        }
      }
    }
  }
}
