input[type="text"],
input[type="password"],
.input {
  border-radius: $rounded;
  border: none;
  font-family: $paragraph-font;
  font-weight: $krub-medium;
  color: $black;
  box-shadow: none;
  background-color: $input-back;
  width: 100%;
  line-height: 2.5em !important;
  padding: 0em 1em;
  margin: 0.5em;
  font-size: 1em !important;
}
