div.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

div.mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
  color: black !important;
}

.material-icons,
.material-icons-outlined {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.cdk-focused,
.cdk-mouse-focused {
  border: none;
  box-shadow: none;
  background: transparent;
  outline: none !important;
}
.mat-button {
  font-family: $paragraph-font;
  font-weight: $krub-medium;
  height: 2.5em !important;
  line-height: normal !important;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    height: 2.5em !important;
    line-height: normal !important;
    font-size: 1em !important;
    background-color: transparent !important;
  }
}

.mat-button,
.mat-dialog-container {
  border-radius: $rounded !important;
}

.mat-button-toggle,
.mat-button-toggle-group,
.mat-button-toggle {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  div,
  span {
    line-height: normal !important;
    padding: 0px 10px !important;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  &:hover,
  &:active,
  &:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
.mat-button-toggle-checked {
  background-color: rgba($color: #000000, $alpha: 0.05) !important;
}

.mat-menu-content {
  width: fit-content;
  overflow: hidden;
  .mat-menu-item {
    margin: 0px;
    border-radius: 0px;
    display: flex !important;
    align-items: center;
    flex-direction: row;
    gap: 1em;
  }
}

.mat-primary{
  background-color: $primary;
}