.coky-public {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  background-color: $back-color-public;
  margin: 0;
  padding: 0;

  input[type="text"],
  input[type="password"],
  input[type="email"] {

    padding: .5em 1em;
    border: $border;
    border-radius: $rounded;
    background-color: white;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  a {
    color: $primary-color;
    cursor: pointer;
  }

  button,
  a[mat-button],
  a[mat-flat-button],
  a[mat-menu-item] {
    cursor: pointer;
    padding: .5em 1em;
    border-radius: $rounded;
    font-weight: $montserrat-medium;
    white-space: nowrap;
    font-size: 2rem;

    width: fit-content;

    display: flex;
    align-items: center;

    font-size: 3rem;

    @media (max-width:1440px) {
      font-size: 2.2rem;
    }

    @media (max-width:992px) {
      font-size: 2rem;
    }

    @media (max-width:768px) {
      font-size: 1.8rem;
    }

    @media (max-width:480px) {
      font-size: 1.6rem;
    }

    &.fluid {
      width: 100%;
    }

    .no-padding {
      padding: .2em .5em;
    }

    &:hover {
      box-shadow: $shadow-md;
    }

    &[mat-icon-button] {
      box-shadow: none !important;
      border-radius: 50%;
      justify-content: center;
    }

    &[mat-button],
    &[mat-flat-button],
    &[mat-menu-item] {
      box-shadow: none !important;

      .mat-button-wrapper {
        font-weight: $montserrat-medium;
        font-size: 1em !important;
        line-height: 1em !important;
      }
    }


  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16rem;
    width: 100%;
    position: relative;
    padding-bottom: 200px;

    >* {
      width: 100%;
    }

    @media (max-width:1600px) {
      padding: 0 14rem;
      padding-bottom: 170px;
    }

    @media (max-width:1440px) {
      padding: 0 12rem;
      padding-bottom: 170px;
    }

    @media (max-width:1200px) {
      padding: 0 8rem;
      padding-bottom: 160px;
    }

    @media (max-width:992px) {
      padding: 0 6rem;
      padding-bottom: 150px;
    }

    @media (max-width:768px) {
      padding: 0 5rem;
      padding-bottom: 250px;
    }

    @media (max-width:600px) {
      padding: 0 4rem;
      padding-bottom: 250px;
    }

    @media (max-width:480px) {
      padding: 0 2rem;
      padding-bottom: 320px;
    }

    @media (max-width:360px) {
      padding: 0 3rem;
      padding-bottom: 350px;
    }
  }

}
