.coky-public {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: 'Montserrat';

  width: 100%;
  height: 100%;

  background-color: $back-color-public;
  margin: 0;
  padding: 0;

  input[type="text"],
  input[type="password"],
  input[type="email"] {

    padding: 8px 10px;
    border: $border;
    border-radius: $rounded;
    background-color: white;

    &:focus {
      // box-shadow: $shadow-xs-nocolor $primary-color;
      border: 1px solid $primary-color;
      // box-shadow: $shadow-xs;
    }
  }

  a {
    color: $primary-color;
  }

  button {
    padding: 8px 10px;
    border-radius: $rounded;
    // height: fit-content;
    line-height: 1rem;
    font-weight: $montserrat-medium;
    white-space: nowrap;

    width: fit-content;

    display: flex;
    align-items: center;

    &.fluid {
      width: 100%;
    }

    &.padding {
      padding: 14px 16px;
    }

    &:hover {
      box-shadow: $shadow-md;
    }

    &[mat-icon-button] {
      box-shadow: none !important;
      border-radius: 50%;
      justify-content: center;
    }

    &[mat-button],
    &[mat-flat-button],
    &[mat-menu-item] {
      box-shadow: none !important;
      border-radius: 0;
    }
  }

  .container {
    padding: 0 8rem;

    @media (max-width:1600px) {
      padding: 0 7rem;
    }

    @media (max-width:1440px) {
      padding: 0 6rem;
    }

    @media (max-width:1200px) {
      padding: 0 4rem;
    }

    @media (max-width:992px) {
      padding: 0 3rem;
    }

    @media (max-width:768px) {
      padding: 0 2.5rem;
    }

    @media (max-width:600px) {
      padding: 0 2rem;
    }

    @media (max-width:480px) {
      padding: 0 1rem;
    }

    @media (max-width:360px) {
      padding: 0 1.5rem;
    }
  }

}
