.coky-public {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  background-color: $back-color-public;
  margin: 0;
  padding: 0;

  >* {
    width: 100%;
    max-width: 1440px;

    @media screen and (max-width:1440px) {
      max-width: 90vw;
    }
  }

  .form-control {

    padding: .5em 1em;
    border: $border;
    border-radius: $rounded;
    background-color: white;
    font-size: 1em;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  a {
    color: $primary-color;
    cursor: pointer;
  }

  button,
  .btn,
  .button,
  [class^='btn'],
  a[mat-button],
  a[mat-flat-button],
  a[mat-menu-item] {
    cursor: pointer;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: $rounded;
    font-weight: $montserrat-medium;
    white-space: nowrap;
    font-size: 2rem;

    width: fit-content;

    display: flex;
    align-items: center;

    font-size: 3rem;

    background-color: transparent;
    color: white;

    @media (max-width:1440px) {
      font-size: 2.2rem;
    }

    @media (max-width:992px) {
      font-size: 2rem;
      padding: .7em 1em;
    }

    @media (max-width:768px) {
      font-size: 1.8rem;
    }

    @media (max-width:480px) {
      font-size: 1.6rem;
    }

    &.fluid {
      width: 100%;
      justify-content: center;
    }

    &:hover {
      box-shadow: $shadow-md;
    }

    &[mat-icon-button] {
      box-shadow: none !important;
      border-radius: 50%;
      justify-content: center;
    }

    &[mat-button],
    &[mat-flat-button],
    &[mat-menu-item] {
      box-shadow: none !important;

      .mat-button-wrapper {
        font-weight: $montserrat-medium;
        font-size: 1em !important;
        line-height: 1em !important;
      }
    }


  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      max-width: 1440px;

      @media screen and (max-width:1440px) {
        max-width: 80vw;
      }

      @media screen and (max-width:992px) {
        max-width: 90vw;
      }

      >* {
        width: 100%;
        margin: 3rem 0;
      }

    }
  }



}
