.coky-public {
  .gap {
    gap: .5rem;
  }

  .gap-1 {
    gap: 1rem;
  }

  .gap-2 {
    gap: 2rem;
  }

  .gap-3 {
    gap: 3rem;
  }

  .gap-4 {
    gap: 4rem;
  }

  .gap-5 {
    gap: 5rem;
  }

  .font-1 {
    font-size: 2rem;
  }

  .font-2 {
    font-size: 3rem;
  }

  .font-3 {
    font-size: 4rem;
  }

  .font-4 {
    font-size: 5rem;
  }

  .font-5 {
    font-size: 6rem;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .title {
    font-size: 2em;
    font-weight: $montserrat-bold;
    line-height: 1em;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    font-size: 3rem;

    >* {
      margin: 1rem 0;
    }
  }

  .images-content {
    width: 400px;
  }
}
