<div class="coky login">

  <carousel></carousel>

  <div class="ui form">
    <div class="content-1">
      <h4>Ingreso nombre plataforma</h4>
      <p class="text-danger">{{alert}}</p>
      <input type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="username"
        (keyup.enter)="login()" #user>
      <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"
        (keyup.enter)="login()" #pass>
      <button class="ui fluid button violet" (click)="login()">Ingresar</button>
      <a (click)="go('admin','/users/register')">¿Aún no tienes una cuenta?<br>Registrate</a>
      <a (click)="go('admin','/users/forgot')">¿Olvidaste tu contraseña?</a>
    </div>
  </div>

</div>