@import "../../../../../assets/core/scss/imports/variables.scss";

.sidebar {
  .container {
    max-height: calc(100vh - 56px);
    background-color: white;
    box-shadow: $shadow-sm;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;

    .button-list {
      display: flex;
      flex-direction: column;

      a {
        color: black;

        &:active,
        &.active {
          color: blue;
        }
      }
    }

    .logo {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
