.sidebar {

  .container {
    background-color: white;
    position: sticky;
    max-width: 300px;
    height: 100vw;
    // padding: 0;
    margin: 0;

    .logo {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
