<div class="coky config">
    <mat-tab-group animationDuration="1000ms">
        <mat-tab label="Información básica">

            <section class="content">
                <div class="card">
                    <h2 class="card-title">Información del sitio</h2>
                    <div class="fields-flow">
                        <div class="field">
                            <label>Título</label>
                            <input type="text" class="input-text" placeholder="Título">
                        </div>

                        <div class="field">
                            <label>Propietario</label>
                            <input type="text" class="input-text" placeholder="Título">
                        </div>
                    </div>

                    <div class="field">
                        <label>Palabras clave (chip list)</label>
                        <input type="text" class="input-text" placeholder="Título">
                    </div>

                    <div class="field">
                        <label>Descripción</label>
                        <textarea type="text" class="input-text" placeholder="Descripción"></textarea>
                    </div>

                </div>

                <div class="card">

                    <h2 class="card-title">Imágenes del sitio</h2>

                    <div class="fields-flow">
                        <div class="field">
                            <label>Ícono de pestaña pública</label>
                            <input type="text" class="input-text" placeholder="Ícono de pestaña pública">
                        </div>

                        <div class="field">
                            <label>Ícono de pestaña administrativa</label>
                            <input type="text" class="input-text" placeholder="Ícono de pestaña administrativa">
                        </div>

                        <div class="field">
                            <label>Logo del sitio</label>
                            <input type="text" class="input-text" placeholder="Logo del sitio">
                        </div>
                    </div>
                </div>
            </section>

        </mat-tab>
        <!-- <mat-tab label="Configuración interna del sistema">

        </mat-tab> -->
    </mat-tab-group>
</div>