<section class="coky login content">
    <div class="card">
        <h1>Iniciar Sesión</h1>
        <div>
            <input type="text" placeholder="Nombre de usuario" />
            <div class="password">
                <input type="password" placeholder="Contraseña" />
                <a>Forgot your password?</a>
            </div>
            <button mat-flat-button color="primary"  (click)="login()">Iniciar</button>
        </div>
        <span>Al Rights Reserved To <a href="https://github.com/victorguz/">@VictorGuz</a></span>
    </div>
</section>