.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  padding: 4rem;

  .text-content {
    text-align: right;
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    // color: red;
  }
}
