@import "../../../../assets/public/scss/imports/variables.scss";

.home {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  padding: 8rem 10rem;

  @media (max-width:1440px) {
    padding: 7rem;
  }

  @media (max-width:1280px) {}

  @media (max-width:800px) {
    flex-direction: column;
    padding: 6rem;
  }

  @media (max-width:600px) {
    padding: 3.5rem;
  }

  @media (max-width:480px) {
    padding: 2.5rem;
  }

  .text-content {
    text-align: right;
    align-items: flex-end;
    color: $dark-color-public;
    gap: 8rem;

    width: 50%;

    @media (max-width:1440px) {
      gap: 6rem;
    }

    @media (max-width:1280px) {
      // margin-top: -30rem;
      // width: 100%;
      gap: 5rem;
    }

    @media (max-width:992px) {
      // margin-top: -25rem;
      gap: 4rem;
    }

    @media (max-width:800px) {
      width: 100%;
      margin-top: -8rem;
    }

    @media (max-width:600px) {
      margin-top: 0;
      text-align: center;
      align-items: center;
      gap: 3rem;
    }

    .title {
      font-size: 8rem;

      @media (max-width:1700px) {
        font-size: 7rem;
      }

      @media (max-width:1480px) {
        font-size: 6rem;
      }

      @media (max-width:992px) {
        font-size: 5rem;
      }

      @media (max-width:768px) {
        font-size: 4.5rem;
      }

      @media (max-width:480px) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 2.5rem;

      @media (max-width:1440px) {
        font-size: 1.8rem;
      }

      @media (max-width:1280px) {
        // max-width: 80%;
      }

      @media (max-width:768px) {
        max-width: none;
      }

      @media (max-width:480px) {
        font-size: 1.6rem;
      }
    }

  }

  .images-content {
    display: flex;
    flex-direction: column;

    @media (max-width:600px) {
      align-items: center;
    }

    .cleaning {
      // margin-left: 4rem;

      @media (max-width:1440px) {
        width: 90%;
      }

      @media (max-width:992px) {
        width: 70%;
      }

      @media (max-width:768px) {
        width: 50%;
      }

    }

    .painting {
      margin-top: -10rem;
      width: fit-content;

      @media (max-width:1440px) {
        height: 25rem;
      }

      @media (max-width:768px) {
        height: 14rem;
      }

      @media (max-width:600px) {
        margin-left: -10rem;
      }
    }
  }
}
