<ng-container *ngIf="home">
    <div class="card home">
        <div class="images-content">
            <img src="../../../../assets/public/images/about/cleaning.svg" alt="mts-cleaning" class="cleaning">
            <img src="../../../../assets/public/images/about/painting.svg" alt="mts-painting" class="painting">
        </div>

        <div class="text-content">
            <div class="title">About us</div>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore
                et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing
            </p>
            <button mat-flat-button class="btn-primary padding">See more</button>
        </div>
    </div>
</ng-container>