<ng-container *ngIf="home">
    <div class="card home">
        <div class="images-content">
            <img src="../../../../assets/public/images/about/cleaning.svg" alt="mts-cleaning" class="cleaning">
            <img src="../../../../assets/public/images/about/painting.svg" alt="mts-painting" class="painting">
        </div>

        <div class="text-content">
            <div class="title">About us</div>
            <p>
                <strong>MTS Corporation</strong> is a company specialized in facility management, focused on providing
                highly efficient infrastructure maintenance, based on preventive, predictive and corrective activities
                in a very PROACTIVE manner. Our mother Company, <strong>NATURARTE C.A</strong>, has more than
                25 years of experience in the market, providing world class companies such as AIG, Procter &
                Gamble and INDRA among others, with high performance corporate maintenance services in Latin America and
                the Caribbean.
            </p>
            <a mat-flat-button class="btn-primary padding" routerLink="/about">More about us</a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!home">
    <div class="coky-public">
        <div class="about">
            <app-public-navbar></app-public-navbar>
            <div class="container">
                <div class="title text-white">About us</div>
            </div>
        </div>
    </div>
</ng-container>