@import "../../../../../assets/built-in/scss/imports/variables.scss";
@import "../../../../../assets/built-in/scss/imports/classes.scss";

.carousel {

  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;

  @media (max-width:992px) {
    width: 100%;
  }

  .logo {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px $shadow-color;
    z-index: 5;

    &.superior {
      left: 60px;
      top: 48px;
    }

    &.inferior {
      left: 60px;
      bottom: 48px;
    }

    &.copy {
      display: flex;
      flex-direction: column;
      right: 40px;
      bottom: 48px;
      font-weight: normal;

      .developed-by {
        color: rgb(230, 230, 230);
      }
    }
  }

  .images {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      // filter: brightness(90%);
      filter: contrast(70%);

      @media (max-width:992px) {
        border-radius: 0;
      }
    }
  }

  .carousel-dots {
    position: absolute;
    left: 60px;
    bottom: 90px;
    display: flex;
    gap: 10px;
    height: 15px;

    .dot {
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 100rem;
      box-shadow: $shadow-sm;
      transition: all ease 0.5s;
      cursor: pointer;

      &.active,
      &:active,
      &:focus {
        width: 15px;
        height: 8px;
        box-shadow: $shadow-md;
        background-color: blue;

        &:hover {
          width: 20px;
        }
      }

      &:hover {
        width: 10px;
        height: 10px;
        box-shadow: $shadow-md;
        background-color: blue;
      }
    }
  }
}
