//Bootstrap
@import "~bootstrap/scss/bootstrap";
// First the imports
@import "imports/variables.scss";
@import "imports/basics.scss";
@import "imports/bootstrap.scss";


// Now the components
@import "components/login.scss";
