@import "../../../../assets/public/scss/imports/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: white;

  .title {
    text-align: center;
    font-size: 7rem;

    @media (max-width:1700px) {
      font-size: 6.8rem;
    }

    @media (max-width:1480px) {
      font-size: 6.5rem;
    }

    @media (max-width:992px) {
      font-size: 6rem;
    }

    @media (max-width:768px) {
      font-size: 5rem;
    }

    @media (max-width:480px) {
      font-size: 4rem;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 5rem;

    @media (max-width:992px) {
      gap: 4rem;
      flex-direction: column-reverse;
    }

    .images-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      width: 53rem;

      @media (max-width:1480px) {
        width: 30rem;
      }

      @media (max-width:1280px) {
        width: 35rem;
      }

      @media (max-width:992px) {
        width: 45rem;
      }

      @media (max-width:768px) {
        width: 40rem;
      }

      @media (max-width:400px) {
        width: 33rem;
      }

      img {
        width: 100%;
      }

      button {
        font-size: 3rem;

        @media (max-width:768px) {
          font-size: 2.5rem;
        }

        @media (max-width:480px) {
          font-size: 2rem;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 42rem 42rem;
      align-items: flex-start;
      justify-content: center;
      column-gap: 5rem;
      row-gap: 10rem;

      @media (max-width:1480px) {
        grid-template-columns: 37rem 37rem;
      }

      @media (max-width:1280px) {
        grid-template-columns: 35rem 35rem;
      }

      @media (max-width:992px) {
        grid-template-columns: 33rem 33rem;
      }

      @media (max-width:768px) {
        grid-template-columns: 100%;
        row-gap: 5rem;
      }

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        height: 100%;
        justify-content: space-between;
        text-align: left;

        &.right {

          @media (max-width:768px) {
            align-items: flex-end;
            text-align: right;
          }
        }

        .title {
          font-size: 4rem;
        }

        p {
          font-size: 2.5rem;
        }
      }
    }
  }
}
