//Built-in colors
$primary-color:#2D78FA;
$secondary-color:#865fb8;
$danger-color:#FA6F6F;
$dark-color:#343a40;
$gray-color:#83A1FB;
$alert-color:#FDC93F;
$success-color:#4cca79;
$back-color:#EBEBEB;

//Public colors
$back-color-public:#3C5F5B;
$primary-color-public:#A6C634;
$gray-color-public:#DBE0DC;
$dark-color-public:#15214B;
$secondary-color-public:#343a40;

$danger-color-public:#FA6F6F;
$alert-color-public:#FDC93F;
$success-color-public:#4cca79;

//Other colors
$border-color-public:#e9e9e9;
$shadow-color-public:#0000003B;


//sizes
$rounded-sm:10px;
$rounded:15px;
$border:1px solid $border-color-public;


//effects
$shadow-xs:1px 1px 2px 0px $shadow-color-public;
$shadow-sm:3px 3px 4px 0px $shadow-color-public;
$shadow-md:0px 11px 54px $shadow-color-public;

$shadow-xs-nocolor:0px 0px 0px 2px;
$shadow-sm-nocolor:3px 3px 4px 0px;
$shadow-md-nocolor:3px 3px 8px 1px;


//Fonts
$montserrat-thin:100;
$montserrat-extra-light:200;
$montserrat-light:300;
$montserrat-regular:400;
$montserrat-medium:500;
$montserrat-semibold:600;
$montserrat-bold:700;
$montserrat-extra-bold:800;
$montserrat-black:900;

//transitions
$transition-basic:all ease 0.3s;
