/**
* Please, use this scss only for imports. Take care the order of each one.
*/
@import "assets/built-in/scss/core.scss";

* {
  @extend .transition-fast;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;

  @media (min-width:1600px) {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  strong,
  b {
    margin: 0;
    padding: 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
