* {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

@import "assets/scss/panel/global.scss";
