/* You can add global styles to this file, and also import other style files */
* {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

p,
a,
div {
  font-size: 16px;
}

div {
  border-radius: 10px;
}
