/**
* Please, use this scss only for imports. Take care the order of each one.
*/
@import "assets/core/scss/core.scss";

* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
