@import "../../../../assets/scss/panel/imports/variables.scss";

.databases {
  .mat-tab-group {
    ::ng-deep .mat-tab-header {
      margin: 1rem;
      margin-bottom: 0px;
      border: none;
      background-color: white;
      border-radius: $rounded;
      box-shadow: $shadow-sm;
      .mat-ink-bar {
        background-color: $primary;
      }
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  .content {
    .card {
      margin: 1rem;
      // margin-top: 1.3rem;
      box-shadow: $shadow-sm;
      .card-title {
        margin: 0px;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
