<div class="coky databases">
    <mat-tab-group animationDuration="1000ms">
        <mat-tab label="Creación y edición">

            <section class="content">

                <mat-tab-group animationDuration="1000ms">

                    <mat-tab label="Crear tablas">

                        <div class="card">
                            
                            <div class="fields-flow multiple-inline">

                                <div class="field">
                                    <label>Nombre del campo</label>
                                    <input type="text" class="input-text" placeholder="Nombre del campo">
                                </div>

                                <div class="field">
                                    <label>Tipo de dato</label>

                                    <select class="select" name="gdDataType_1" id="gdDataType_1" style="">
                                        <optgroup label="Tipos ato básicos">
                                            <option value="text">Texto</option>
                                            <option value="int">Entero</option>
                                            <option value="double">Double</option>
                                            <option value="boolean">Booleano</option>
                                            <option value="boolean">Date</option>
                                            <option value="boolean">Time</option>
                                            <option value="boolean">DateTime</option>
                                        </optgroup>
                                        <optgroup label="Datos por defecto">
                                            <option value="autoincrement">Auto-increment</option>
                                            <option value="json">JSON</option>
                                        </optgroup>
                                    </select>

                                </div>

                                <div class="field">
                                    <label>Restricción</label>
                                    <select class="select">
                                        <option value="autoincrement">Ninguna</option>
                                        <option value="autoincrement">Llave primaria</option>
                                        <option value="autoincrement">No nulo</option>
                                        <option value="autoincrement">Único igual</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <label>Dato por defecto</label>
                                    <input type="text" class="input-text" placeholder="Dato por defecto">
                                </div>

                            </div>
                            
                            <div class="fields-flow multiple-inline">

                                <div class="field">
                                    <label>Nombre del campo</label>
                                    <input type="text" class="input-text" placeholder="Nombre del campo">
                                </div>

                                <div class="field">
                                    <label>Tipo de dato</label>

                                    <select class="select" name="gdDataType_1" id="gdDataType_1" style="">
                                        <optgroup label="Tipos ato básicos">
                                            <option value="text">Texto</option>
                                            <option value="int">Entero</option>
                                            <option value="double">Double</option>
                                            <option value="boolean">Booleano</option>
                                            <option value="boolean">Date</option>
                                            <option value="boolean">Time</option>
                                            <option value="boolean">DateTime</option>
                                        </optgroup>
                                        <optgroup label="Datos por defecto">
                                            <option value="autoincrement">Auto-increment</option>
                                            <option value="json">JSON</option>
                                        </optgroup>
                                    </select>

                                </div>

                                <div class="field">
                                    <label>Restricción</label>
                                    <select class="select">
                                        <option value="autoincrement">Ninguna</option>
                                        <option value="autoincrement">Llave primaria</option>
                                        <option value="autoincrement">No nulo</option>
                                        <option value="autoincrement">Único igual</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <label>Dato por defecto</label>
                                    <input type="text" class="input-text" placeholder="Dato por defecto">
                                </div>

                                <div class="field">
                                <button mat-flat-button class="field" color="warn">
                                    <span class="material-icons">delete</span>
                                </button>
                                </div>
                            </div>
                            <div class="fields-flow buttons-end">
                                <button mat-flat-button class="field" color="primary">Agregar otro campo</button>
                                <button mat-flat-button class="field" color="warn">Agregar otro campo</button>
                            </div>
                            
                        </div>

                    </mat-tab>
                    <mat-tab label="Alterar tablas">

                    </mat-tab>
                </mat-tab-group>

            </section>

        </mat-tab>


        <mat-tab label="Configuración de la base de datos">
            <section class="content">

                <div class="card">
                    <h2 class="card-title">Información de la base de datos</h2>
                    <p class="text-gray">En el caso de no usar el backend de coky, puede poner aquí los datos de su base
                        de datos</p>
                    <div class="fields-flow">
                        <div class="field">
                            <label>Host</label>
                            <input type="text" class="input-text" placeholder="Host">
                        </div>
                        <div class="field">
                            <label>Puerto</label>
                            <input type="text" class="input-text" placeholder="Puerto">
                        </div>
                        <div class="field">
                            <label>Protocolo</label>
                            <input type="text" class="input-text" placeholder="SSL">
                        </div>
                        <div class="field">
                            <label>Usuario</label>
                            <input type="text" class="input-text" placeholder="Usuario">
                        </div>
                        <div class="field">
                            <label>Contraseña</label>
                            <input type="text" class="input-text" placeholder="Contraseña">
                        </div>
                    </div>
                </div>

            </section>
        </mat-tab>
    </mat-tab-group>
</div>