.coky {
  &.layout {

    .mat-drawer {
      border: none;
      box-shadow: 0px 2px 3px 0.08px
      rgba(
        $color: #e6e6e6,
        $alpha: 0.5,
      ); //$shadow-sm;
    }
    .mat-drawer-content {

      height: calc(100vh - 115.5px);
      //Media queries
      @media (max-width: 1640px) {
        height: calc(100vh - 99px);
      }
      @media (max-width: 1440px) {
        height: calc(100vh - 88px);
      }
    }
  }
}
