@import "../../../../../assets/public/scss/imports/variables.scss";

.navbar {
  // position: static;
  // left: 0;
  // top: 0;


  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 1rem;

  width: 100vw;
  height: fit-content;
  padding: 1rem 3rem;
  // background-color: rgba(white, 0.05);


  @media (max-width:992px) {
    // flex-flow: nowrap;
    // gap: 0.5rem;
    padding: 1rem;
  }

  .content,
  .dispose,
  .not-dispose {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-flow: wrap;

    @media (max-width:992px) {
      gap: 0.5rem;
    }

    .link {
      font-weight: $montserrat-semibold;
      color: white;

      &.brand {
        font-size: 4rem;
        font-weight: $montserrat-black;
        margin-right: 1rem;

        @media (max-width:992px) {
          font-size: 3rem;
        }
      }
    }
  }

  .content-1 {
    flex-flow: nowrap;
  }

  .dispose {
    @media (max-width:992px) {
      display: none;
    }


  }

  .not-dispose {
    display: none;

    @media (max-width:992px) {
      display: flex;
    }
  }

}
