@import "../../../../../assets/public/scss/imports/variables.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 2rem;

  width: 100vw;
  height: fit-content;
  padding: 5rem 9rem;

  @media (max-width:1440px) {
    padding: 3rem 7rem;
  }

  @media (max-width:992px) {
    padding: 3rem 5rem;
  }

  @media (max-width:768px) {
    padding: 2rem;
    gap: 1rem;
  }


  .content,
  .dispose,
  .not-dispose {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-flow: wrap;

    @media (max-width:1440px) {
      gap: 3rem;
    }

    @media (max-width:992px) {
      gap: 2rem;
    }

    @media (max-width:768px) {
      gap: 1.5rem;
    }

    .link {
      font-weight: $montserrat-medium;
      color: white;
      font-size: 3.5rem;

      @media (max-width:1440px) {
        font-size: 1.8rem;
      }

      @media (max-width:1200px) {
        font-size: 1.8rem;
      }

      @media (max-width:768px) {
        font-size: 1.6rem;
      }


      &.brand {
        width: 20rem;

        @media (max-width:1440px) {
          width: 17rem;
        }

        @media (max-width:1200px) {
          width: 14rem;
        }

        @media (max-width:768px) {
          width: 12rem;
        }
      }
    }
  }

  .content-1 {

    // flex-flow: nowrap;
    @media (max-width:768px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  .content-2 {

    @media (max-width:480px) {
      justify-content: space-between;
      width: 100%;
    }

    // justify-content: flex-end;
  }

  .dispose {
    @media (max-width:992px) {
      display: none;
    }


  }

  .not-dispose {
    display: none;

    @media (max-width:992px) {
      display: flex;
    }
  }

}
