<div class="navbar">
    <div class="content content-1" #container1>
        <a class="link brand">MTS</a>
        <a class="link">Home</a>
        <div class="dispose" #content1>
            <a class="link">Services</a>
            <a class="link">Prices</a>
            <a class="link">About</a>
        </div>
    </div>
    <div class="content content-2">

        <div class="not-dispose">
            <button mat-flat-button mat-icon-button class="btn-primary">
                <ion-icon name="person-circle-outline" size="large"></ion-icon>
            </button>
        </div>

        <div class="dispose">
            <button mat-flat-button class="link btn-primary padding">Sign in</button>
        </div>
        <a class="link">Contact</a>
        <div class="not-dispose">
            <button mat-icon-button class="text-white"
                (click)="show();content1.style.display=onShow;container1.style='flex-flow:wrap;'">
                <span class="material-icons">
                    more_vert
                </span>
            </button>
        </div>
    </div>
</div>