@import "../../../../../assets/built-in/scss/imports/variables.scss";

div {
  display: flex;
  flex-direction: column;
  width: 100%;

  .item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    color: black;

    &:hover {
      background-color: rgba(240, 240, 240, 0.1);
      color: white;
    }

    &:active,
    &.active {
      color: white;
      font-weight: $montserrat-semibold;
      background-color: rgba(250, 250, 250, 0.1);

      &:hover {
        background-color: rgba(240, 240, 240, 0.1);
      }
    }
  }
}
