@import "../../../../../assets/built-in/scss/imports/variables.scss";

div {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  width: 100%;

  .item {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    color: black;

    &:hover {
      background-color: rgb(240, 240, 240);
      color: #2f73e7;
    }

    &:active,
    &.active {
      color: #2f73e7;
      background-color: rgb(250, 250, 250);

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}