@import "../../../../assets/scss/panel/imports/variables.scss";

.login {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-back;
      height: calc(100vh - 115.5px);
      //Media queries
      @media (max-width: 1640px) {
        height: calc(100vh - 99px);
      }
      @media (max-width: 1440px) {
        height: calc(100vh - 88px);
      }
      .card {
        display: flex;
        flex-direction: column;
        box-shadow: $shadow-lg-dark;
  
        @media (max-width: 992px) {
          width: 80vw;
          align-items: center;
          text-align: center;
        }
        @media (max-width: 480px) {
          width: 95vw;
        }
        h1 {
          font-size: 1.5rem ;
          @media (max-width: 992px) {
            margin-bottom: 1rem ;
          }
        }
        div {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
  
          //Media queries
          @media (max-width: 1640px) {
          }
          @media (max-width: 1440px) {
          }
          @media (max-width: 1200px) {
          }
          @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
          }
          @media (max-width: 768px) {
          }
          @media (max-width: 600px) {
          }
          @media (max-width: 480px) {
          }
          @media (max-width: 360px) {
          }
          .password {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        button {
          min-width: min-content;
          span {
            background-color: transparent;
          }
        }
        span {
          font-size: 0.7rem ;
          // margin-bottom: -1rem ;
          a {
            font-size: 1rem ;
          }
        }
      }
    }
  }
  