/* Fonts */
$krub-bold: 700;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-bold;
  src: url("../../../fonts/panel/krub/Krub-Bold.ttf");
}
@font-face {
  font-family: "Krub"; 
  font-style: italic;
  font-weight: $krub-bold;
  src: url("../../../fonts/panel/krub/Krub-BoldItalic.ttf");
}
$krub-semibold: 600;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-semibold;
  src: url("../../../fonts/panel/krub/Krub-SemiBold.ttf");
}
@font-face {
  font-family: "Krub";
  font-style: italic;
  font-weight: $krub-semibold;
  src: url("../../../fonts/panel/krub/Krub-SemiBoldItalic.ttf");
}

$krub-medium: 500;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-medium;
  src: url("../../../fonts/panel/krub/Krub-Medium.ttf");
}
@font-face {
  font-family: "Krub";
  font-style: italic;
  font-weight: $krub-medium;
  src: url("../../../fonts/panel/krub/Krub-MediumItalic.ttf");
}

$krub-regular: 400;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-regular;
  src: url("../../../fonts/panel/krub/Krub-Regular.ttf");
}
@font-face {
  font-family: "Krub";
  font-style: italic;
  font-weight: $krub-regular;
  src: url("../../../fonts/panel/krub/Krub-Italic.ttf");
}

$krub-light: 300;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-light;
  src: url("../../../fonts/panel/krub/Krub-Light.ttf");
}
@font-face {
  font-family: "Krub";
  font-style: italic;
  font-weight: $krub-light;
  src: url("../../../fonts/panel/krub/Krub-LightItalic.ttf");
}

$krub-extralight: 200;
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: $krub-extralight;
  src: url("../../../fonts/panel/krub/Krub-ExtraLight.ttf");
}
@font-face {
  font-family: "Krub";
  font-style: italic;
  font-weight: $krub-extralight;
  src: url("../../../fonts/panel/krub/Krub-ExtraLightItalic.ttf");
}

$brand-weight: 800;
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: $brand-weight;
  src: url("../../../fonts/panel/roboto-slab/RobotoSlab-Bold.ttf");
}