@import "colors.scss";
@import "fonts.scss";
//Fonts
$paragraph-font: "Krub";
$brand-font: "Roboto Slab";

//Some styles
$rounded: 0.8rem;
$shadow-sm: 0px 2px 3px 0.08px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-md: 0px 10px 15px 1.5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-lg: 0px 10px 30px 3px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-top: 0px -10px 10px 5px rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-bottom: 0px 10px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-left: -10px 0px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-right: 10px 0px 10px 5px
  rgba(
    $color: #e6e6e6,
    $alpha: 0.5,
  );
$shadow-lg-dark: 0px 10px 30px 3px
  rgba(
    $color: #d1d1d1,
    $alpha: 0.5,
  );
@import "generals.scss";
@import "transitions.scss";
