@import "../../../../assets/scss/panel/imports/variables.scss";

.navbar {
  position: relative;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: $shadow-sm;
  min-width: 100vw;
  background-color: white;
  @media (max-width: 600px) {
    padding: 0.7em 0.5;
  }
  .content {
    display: flex;
    align-items: center;
    &.content-1 {
      .mat-button {
        display: flex;
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
    &.content-2 {
      a {
        margin-left: 1rem;
        img {
          height: 2.5rem;
        }
      }
    }
    .mat-icon-button {
      width: 2.4em;
      height: 2.4em;
      margin: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 1.7em;
        //Media queries
      }
    }
    .mat-button {
      border-radius: $rounded + $rounded;
      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }
      div {
        background-color: transparent;
        text-align: left;
        p {
          background-color: transparent;
          &.role {
            font-size: 0.8em;
            color: $gray;
          }
        }
      }
    }
  }
}
