.coky-public {
  .login {
    display: flex;
    width: 100vw;

    .carousel-container {
      width: 60%;

      @media (max-width:1200px) {
        width: 50%;
      }

      @media (max-width:768px) {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;

      @media (max-width:1200px) {
        width: 50%;
      }

      @media (max-width:768px) {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .form {
        max-width: 500px;
        text-align: center;
        padding: 2rem;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width:1440px) {
          max-width: 400px;
        }

        @media (max-width:992px) {
          max-width: none;
          width: 100%;
          height: fit-content;
          border-radius: 0;
        }

        @media (max-width:768px) {
          max-width: none;
          width: 75%;
          max-height: 60%;
          border-radius: $rounded;
          overflow-y: auto;
        }

        @media (max-width:480px) {
          width: 90%;
          max-height: 80%;
        }

        @media (max-width:390px) {
          width: 95%;
          max-height: 80%;
        }

      }
    }
  }
}
